<div class="topContainer">
    
    <div class="todayIs">      
        <div  class="topDate"><p>Today  - <theDay></theDay>, <dateDate></dateDate></p></div>
        
    </div>

    <div class="welcome">
        <div><p>Welcome to Omnie Solutions</p></div>
    </div>
    
    <div class="currentTime">
        <p class="currentTimeText">Current Time</p>
        <dateTime class="timeText"></dateTime>
    </div>
    
    <div class="loginContainer"> 
        <div class="loginClick" (click)="slideToggle()">LOGIN</div>
        <div class="loginExtended" [@slidePanel]='state' style="display:none">
            <form class="form">
                    <input [(ngModel)]="empId" name="empId" placeholder="Employee Id" require/>
                    <input [(ngModel)]="password" type="password" name="password" placeholder="Password" require/>
            </form>
            <div routerLink="../signup" class="newPageDiv"><p class="newAcctDiv">Don't have an account? Tap here to register!</p></div>
                <div class="enterCancel">    
                        <div class="extendDiv" (click)="slideToggle()">CANCEL </div>
                        <span class="line">|</span>
                        <div class="extendDiv" (click)="login(empId, password)">LOGIN</div>
                </div>
        </div>
    </div>


</div>